<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="NHibernate.Burrow" type="NHibernate.Burrow.Configuration.NHibernateBurrowCfgSection,NHibernate.Burrow" />
  </configSections>
  <NHibernate.Burrow  customConfigurator="NHibernateAuditLogExample.CustomBurrowConfigurator,NHibernateAuditLogExample">
    <persistenceUnits >
      <add name="PersistenceUnit1" nh-config-file="nHibernate.cfg.xml" />
    </persistenceUnits>
  </NHibernate.Burrow>
	<appSettings>
		<add key="ConfigFile" value="~/ecatalog.cfg.xml"/>

	</appSettings>

 

</configuration>
