<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="NHibernate.Burrow" type="NHibernate.Burrow.Configuration.NHibernateBurrowCfgSection,NHibernate.Burrow"/>
  </configSections>
  <NHibernate.Burrow customConfigurator="NHibernateAuditLogExample.CustomBurrowConfigurator,NHibernateAuditLogExample">
    <persistenceUnits>
      <add name="PersistenceUnit1" nh-config-file="~\NHibernate.cfg.xml" autoUpdateSchema="true"/>
    </persistenceUnits>
  </NHibernate.Burrow>
  <appSettings>
    <add key="ConfigFile" value="~/ecatalog.cfg.xml"/>

  </appSettings>
  <system.web>
    <authentication mode="Forms">
      <forms name=".Catalog" protection="All" timeout="30" loginUrl="~/Gen/Pages/Login.aspx" defaultUrl="~/Gen/Pages/CatalogViewer.aspx"/>
    </authentication>
    <authorization>
      <allow users="*"/>
    </authorization>
    <compilation targetFramework="4.0" debug="true"/>
	  <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="NHibernate.Burrow.WebUtil.HttpModule" preCondition="integratedMode" type="NHibernate.Burrow.WebUtil.WebUtilHTTPModule, NHibernate.Burrow.WebUtil"/>
    </modules>
  </system.webServer>

</configuration>